<div class="col-md-12">
  <nav class="main-navigation" class="clearfix" role="navigation">
    <div class="navbar-class globalnav">
      <a id="myname">Kyle Hatch</a>
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </div>
  </nav>
</div>