<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      . _ .
    </p>
    
    <ul class="content__container__list">
      <li class="content__container__list__item">Video Games</li>
      <li class="content__container__list__item">Graphic Design</li>
      <li class="content__container__list__item">Programming</li>
      <li class="content__container__list__item">Photography</li>
    </ul>
  </div>
</div>