<div class="col-md-12">
  <nav class="main-navigation" class="clearfix" role="navigation" id="portfolio_nav">
    <div class="navbar-class">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </div>
  </nav>
</div>