<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
      <%= image_tag "frog.jpg" style="width:100%"%>
      <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
    <%= image_tag "moth.jpg" style="width:100%"%>
    <div class="text">Caption Text</div>
</div>

  <div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
    <%= image_tag "rain.jpg" style="width:100%"%>
    <div class="text">Caption Text</div>
</div>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>