<div class="skills">
  <% @skills.each do |skill| %>
    <div class="skill">
      <h4><%= skill.title %></h4>
      <div class="progress">
        <div
          class="progress-bar progress-bar bg-danger"
          role="progressbar"
          aria-valuenow="<%= skill.percent_utilized %>"
          aria-valuemax="100"
          style="width: <%= skill.percent_utilized %>%"
        ></div>
      </div>
    </div>
  <% end %>
</div>