<h1>Contact Me</h1>
<p><h1>Phone:</h1><%= number_to_phone "3852235329" %></p>

<p><h1>Email:</h1><p>ky13h4tch@gmail.com</p>





<!-- <p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "56549" %></p> -->
