<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">In my free time, I enjoy graphic design, photography and playing video games. I've recently started studying programming, and have found myself integrating design into my work. I'm detail oriented and love learning new skills, taking on challenging tasks and solving problems.</p>
  <p class="lead">
    <%# <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %> 
  </p>
</div>
