@import "bootstrap";
@import "gritter";

/*
 * Globals
 */

/* Home Button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: rgb(0, 0, 0);
  background-color: #fff;
  border: .05rem solid #fff;
}

// Custom Fonts

// font-family: 'Ubuntu', sans-serif;
// font-family: 'Roboto Slab', serif;
// font-family: 'Yantramanav', sans-serif;
// font-family: 'Press Start 2P', cursive;

/*
 * Base structure
 */


html,
body {
  height: 100%;
  
}
body {
  color: #0f1d5e;
  text-align: center;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6, {
  font-family: 'Roboto Slab', serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 3%;
}


/*
 * Global Navbar
 */
.globalnav {

  overflow: hidden;
  background-color: #131D30;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  z-index: 10;
 
}

.globalnav a {
  color: #9BB4AF;
  display: inline-block;
  font-family: "GlosaRomanRegular";
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
}

.globalnav a:hover {
    color: rgb(92, 174, 224);
    font-size: 1.3em;
    text-decoration: underline;
    text-decoration-style: single;
}

.globalnav .active {
    color: rgb(92, 174, 224);
    font-size: 1.3em;
    text-decoration: underline;
    text-decoration-style: single;
}
#myname {
  color: white;
}
/*
 * Home Buttons
 */

.cover {
  padding: 0 1.5em;
}
.cover .btn-lg {
  padding: .75em 1.25em;
  font-weight: bold;
}
 

/*
 * Global Footer
 */

.page-footer {
  color: rgba(0, 0, 0, 0.5);
  width: 100%;

  overflow: hidden;
  position: fixed;
  width: 100%;
  display: block;
  z-index: 10;
}
.page-footer {
    position: absolute;
    bottom: 0;
  }

.page-footer,
.cover-container {
    width: 100%;
  }


@media (min-width: 40em) {
  .site-wrapper-inner {
    vertical-align: middle;
  }
}

@media (min-width: 62em) {
  .page-footer,
  .cover-container {
    width: 65em;
  }
}

/*
 * Custom Styles
 */


 //CARDS
.contactcard {
  background-color: rgb(255, 255, 255);
}

.aboutmecard {
  background-color: rgb(255, 255, 255);
}

.skills-blocks {
  
}

.login-card {
  background-color: #131D30;
  padding: 1%;
}

.register-card {
  background-color: #131D30;
  margin: 3%;
}

.card-block {
  color: rgb(82, 185, 165);
  text-align: left;
  margin: 3%;
}

.auth-links a {
  color: rgb(82, 185, 165);
  
}
  
.register-text {
  text-align: right;
}

.login > .card {
  width: 22em;
  margin: 0 auto;
  float: none;
}

#main-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('mountains.jpeg');
  background-size: cover;
}

.tech-news {
  color: black;
  margin-top: 2%;
  min-height: 200px;
}

.tech-news a {
  color: rgb(82, 185, 165);
  margin: 2.5%;
}

.tech-news > .card {
  padding: 5%;
  background-color: #131D30;
  color: #9BB4AF;
}

.lead {
  color: black;
}

//Contact card
.app-card-container {
  color: black;
  text-align: left;
}

.app-card-container > .card {
  padding: 2.5%;
}

.profile-image {
  border: 1% solid rgb(0, 0, 0);
}

.app-card-container a {
  color: rgb(139, 0, 0);
}

.card-block {
  margin-top: 1%;
  margin-bottom: 1%;
}

.skill {
  margin-top: 3%;
  margin-bottom: 3%;
}

.technewsfont {
  font-family: 'Press Start 2P', cursive;
  color: black;
}


// :LKSJFLKSDJFL:KSD:FJLKSDFJSLDKFJSLDK:FJ:LSDKFJL




body {
  width: 100%;
  height: 100%;
  position: fixed;

}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow:hidden;
  
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: black;
  
  &__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;

    &:before {
      content: '[';
      left: 0;
    }

    &:after {
      content: ']';
      position: absolute;
      right: 0;
    }

    &:after, &:before {
      position: absolute;
      top: 0;
      
      color: #770000;
      font-size: 42px;
      line-height: 40px;
    }

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      padding-left: 110px;
      text-align: left;
      list-style: none;
      
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      &__item {
        line-height:40px;
        margin:0;
      }
    }
  }
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

// 6 is the number of animation.
// Here, there are 4 lines :

// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 3
// 3 to 2
// 2 to 1

// 6x + 6y = 100 (100% duration)

// HERE : 
// y = 4 -> Animation between two lines
// x = 12.66 -> Time spent on a line

// You can define a value and calculate the other if you want change speed or the number of lines