@import "bootstrap";
@import "gritter";

/*
 * Globals
 */

/* Home Button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: rgb(0, 0, 0);
  background-color: #fff;
  border: .05rem solid #fff;
}

// Custom Fonts

// font-family: 'Ubuntu', sans-serif;
// font-family: 'Roboto Slab', serif;
// font-family: 'Yantramanav', sans-serif;
// font-family: 'Press Start 2P', cursive;

/*
 * Base structure
 */


html,
body {
  height: 100%;
  
}
body {
  color: #0f1d5e;
  text-align: center;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6, {
  font-family: 'Roboto Slab', serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 3%;
}


/*
 * Global Navbar
 */
.globalnav {
  position: fixed;
  top: 0;
  padding: .5%;
  // background-color: #e4ffff;
  // background-color: transparent;
  text-align: center;
  z-index: 10;
}

.globalnav a {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: "GlosaRomanRegular";
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
}

.globalnav a:hover {
    color: rgb(143, 0, 0);
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-style: double;
}

.globalnav .active {
    color: rgb(143, 0, 0);
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-style: double;

}
/*
 * Home Buttons
 */

.cover {
  padding: 0 1.5em;
}
.cover .btn-lg {
  padding: .75em 1.25em;
  font-weight: bold;
}


/*
 * Global Footer
 */

.page-footer {
  color: rgba(0, 0, 0, 0.5);
}
.page-footer {
    position: absolute;
    bottom: 0;
  }

.page-footer,
.cover-container {
    width: 100%;
  }


@media (min-width: 40em) {
  .site-wrapper-inner {
    vertical-align: middle;
  }
}

@media (min-width: 62em) {
  .page-footer,
  .cover-container {
    width: 65em;
  }
}

/*
 * Custom Styles
 */


 //CARDS
.contactcard {
  background-color: rgb(255, 255, 255);
}

.aboutmecard {
  background-color: rgb(255, 255, 255);
}

.login-card {
  background-color: rgb(255, 255, 255);
  padding: 1%;
}

.register-card {
  background-color: rgb(255, 255, 255);
  margin: 3%;
}

.card-block {
  color: black;
  text-align: left;
  margin: 3%;
}

.auth-links a {
  color: rgb(0, 0, 0);
  
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 22em;
  margin: 0 auto;
  float: none;
}

#main-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('mountains.jpeg');
  background-size: cover;
}

.tech-news {
  color: black;
  margin: 2%;
}

.tech-news a {
  color: red;
  margin: 2.5%;
}

.tech-news > .card {
  padding: 5%;
}

.lead {
  color: black;
}

//Contact card
.app-card-container {
  color: black;
  text-align: left;
}

.app-card-container > .card {
  padding: 2.5%;
}

.profile-image {
  border: 1% solid rgb(0, 0, 0);
}

.app-card-container a {
  color: rgb(139, 0, 0);
}

.card-block {
  margin-top: 1%;
  margin-bottom: 1%;
}

.skill {
  margin-top: 3%;
  margin-bottom: 3%;
}

.technewsfont {
  font-family: 'Press Start 2P', cursive;
  color: black;
}

