@import "bootstrap";
@import "jquery-ui";

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: white;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  background-color: #f7f7f7;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Custom styles */

.portfolio-form {
  padding: 20px;
}

#portfolio_nav {
  position: fixed;
  top: 0;
  padding: 1px;
  background-color: white;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#portfolio_nav a {
  color: black;
  display: inline-block;
  font-family: "GlosaRomanRegular";
  font-size: 1.3em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

}
