@import "bootstrap";
@import "jquery-ui";
@import "gritter";

body {
  min-height: 75em;
  font-family: 'Yantramanav', sans-serif;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: transparent;
  
}

.jumbotron p:last-child {
  margin-bottom: 0;
  
}

.jumbotron-heading {
  font-weight: 300;
}


.jumbotron .container {
  max-width: 40rem;
  
}

.album {
  padding-top: 3%;
  padding-bottom: 3%;

}

.card {
  color: #9BB4AF;
  float: left;
  width: 100%;
  padding: 3.5%;
  margin-bottom: 9%;
  border: 0;
  background-color: #131D30;
  border-radius: 5px;
  font-size: 1.3em;
}
.card a {
  color: #9BB4AF;
  font-size: 1.1em;
}
.card a:hover {
  color: rgb(255, 255, 255);
}
.card > img {
  margin-bottom: 3%;
}

.card-text {
  font-size: 85%;
}

/* Custom styles */

.portfolio-container {
  font-size: 1.1em;
  padding: 3.5%;
  background-color: #131D30;
  border-radius: 5px;
  color: #9BB4AF;
}
.portfolio-container a {
  color: black;
}

.portfolio-container a:hover {
  color: rgb(109, 0, 0);
}


#portfolio-background {
  position: fixed;
  top: 50%;
  left: 49.5%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('octopus16.jpeg');
  background-size: cover;
}

#portfolioMasthead {
  z-index: 10;
}

.globalnav {
  overflow: hidden;
  background-color: #131D30;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  z-index: 10;
  text-align: center;
}

.globalnav a {
  color: #9BB4AF;
  display: inline-block;
  font-family: "GlosaRomanRegular";
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  
}
.globalnav a:hover {
  color: rgb(92, 174, 224);
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-style: single;
}

.globalnav .active {
  color: rgb(92, 174, 224);
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-style: single;
}
#myname {
  color: white;
}

